@import "../fonts/fontawesome/faces.min.css";
@import "../fonts/inter/faces.css";
@import "../fonts/rubik/faces.css";
:root {
  --color-black: #1e1e1e;
  --color-white: #ffffff;
  --color-gray: #ededed;
  --color-grayBg: #ffffff4d;
  --color-red: #d1062b;
  --font-family: "Inter", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  position: relative;
}
@media (max-width: 1040px) {
  .wrapper {
    height: auto;
    min-height: 100%;
  }
}

header {
  padding: 19px 10px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  z-index: 99;
}
@media (max-width: 1070px) {
  header {
    width: 100%;
  }
}
@media (max-width: 1040px) {
  header {
    padding: 0;
  }
}

.header {
  border-radius: 17px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4.35px);
  padding: 17px 28px 17px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1040px) {
  .header {
    border-radius: 0;
  }
}
@media (max-width: 575.98px) {
  .header {
    padding: 5px 15px;
  }
}
.header__logotype {
  max-width: 390px;
}
.header__contacts {
  display: flex;
  gap: 150px;
  color: var(--color-black);
}
@media (max-width: 1199.98px) {
  .header__contacts {
    gap: 50px;
  }
}
@media (max-width: 1040px) {
  .header__contacts {
    flex-direction: column;
    gap: 0;
  }
}
@media (max-width: 670px) {
  .header__contacts {
    display: none;
  }
}
.header__buttons {
  display: flex;
  gap: 5px;
}
.header__buttons .button {
  display: none;
}
.header__buttons .button:first-child {
  display: flex;
}
@media (max-width: 670px) {
  .header__buttons .button {
    display: flex;
  }
}

.logotype img {
  max-width: 100%;
  height: 84px;
}

.contact-panel__head {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 11px;
}
@media (max-width: 1040px) {
  .contact-panel__head {
    display: none;
  }
}
.contact-panel__item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 4px;
}
@media (max-width: 1040px) {
  .contact-panel__item {
    margin-bottom: 0;
  }
}
.contact-panel__icon_hidden {
  opacity: 0;
}
.contact-panel__text {
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 1040px) {
  .contact-panel__text {
    font-size: 14px;
    line-height: 18px;
  }
}
.contact-panel__text a {
  color: var(--color-black);
  text-decoration: none;
}

main {
  flex-grow: 1;
  padding: 45px 35px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  z-index: 2;
  gap: 47px;
  background: url("../images/main.jpg") center bottom no-repeat;
  background-size: cover;
  padding-top: 465px;
  border-radius: 17px;
}
@media (max-width: 1070px) {
  main {
    border-radius: 0;
  }
}
@media (max-width: 1040px) {
  main {
    flex-direction: column;
    padding: 15px 35px;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
  }
}
@media (max-width: 575.98px) {
  main {
    padding: 15px;
    padding-top: 160px;
  }
}

.phones {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(41.15px);
  border-radius: 12px;
  padding: 37px 30px 41px 42px;
  flex-shrink: 0;
}
@media (max-width: 1399.98px) {
  .phones {
    padding: 30px;
  }
}
@media (max-width: 1040px) {
  .phones {
    width: fit-content;
    padding: 20px 15px;
  }
}
.phones__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  row-gap: 30px;
}
@media (max-width: 1040px) {
  .phones__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.phones__item {
  color: var(--color-gray);
  display: flex;
  flex-direction: column;
  gap: 9px;
}
@media (max-width: 1040px) {
  .phones__item {
    align-items: center;
  }
  .phones__item > * {
    text-align: center;
  }
}
.phones__item:last-child {
  grid-area: 2/1/3/3;
}
@media (max-width: 1040px) {
  .phones__item:last-child {
    order: 2;
  }
}
@media (max-width: 1040px) {
  .phones__item:nth-child(2) {
    order: 3;
  }
}
.phones__city {
  margin: 0;
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
}
@media (max-width: 1399.98px) {
  .phones__city {
    font-size: 35px;
    line-height: 1;
  }
}
@media (max-width: 1040px) {
  .phones__city {
    font-size: 25px;
  }
}
.phones__number {
  color: var(--color-gray);
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
}
@media (max-width: 1399.98px) {
  .phones__number {
    font-size: 20px;
    line-height: 1;
  }
}
@media (max-width: 1040px) {
  .phones__number {
    font-size: 16px;
  }
}
.phones .button {
  margin-top: 65px;
}
@media (max-width: 1040px) {
  .phones .button {
    margin: 30px auto 0;
    display: flex;
  }
}

.button {
  border: none;
  background-color: var(--color-red);
  color: var(--color-white);
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  border-radius: 54px;
  padding: 21px 32px 23px;
  cursor: pointer;
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
@media (max-width: 1199.98px) {
  .button {
    font-size: 20px;
    padding: 16px 19px 18px;
  }
}
.button i {
  display: none;
}
.button_small {
  font-size: 20px;
  padding: 16px 19px 18px;
}
@media (max-width: 670px) {
  .button_small {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 18px;
    padding: 0;
  }
  .button_small i {
    display: block;
  }
  .button_small span {
    display: none;
  }
}
@media (max-width: 390px) {
  .button_small {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }
}
.button:hover, .button:focus {
  outline: none;
  box-shadow: none;
}

.headers {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 1013px;
  transform: translateY(-21px);
}
@media (max-width: 1399.98px) {
  .headers {
    max-width: 100%;
  }
}
@media (max-width: 1040px) {
  .headers {
    width: 100%;
  }
  .headers > * {
    text-align: center;
  }
}
.headers h1 {
  font-size: 59px;
  line-height: 1;
  font-weight: 700;
  margin: 0;
}
@media (max-width: 1399.98px) {
  .headers h1 {
    font-size: 50px;
  }
}
@media (max-width: 1199.98px) {
  .headers h1 {
    font-size: 45px;
  }
}
@media (max-width: 1040px) {
  .headers h1 {
    font-size: 40px;
  }
}
.headers h2 {
  font-size: 59px;
  line-height: 1;
  font-weight: 300;
  margin: 0;
  transform: translateY(10px);
}
@media (max-width: 1399.98px) {
  .headers h2 {
    font-size: 45px;
  }
}
@media (max-width: 1199.98px) {
  .headers h2 {
    font-size: 40px;
  }
}
@media (max-width: 1040px) {
  .headers h2 {
    font-size: 30px;
  }
}
@media (max-width: 460px) {
  .headers h2 {
    font-size: 25px;
  }
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4.35px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s ease-in-out;
}
.modal.show {
  opacity: 1;
  z-index: 999;
}
.modal__dialog {
  width: 100%;
  max-width: 500px;
  background: var(--color-white);
  color: var(--color-black);
  padding: 15px;
  border-radius: 10px;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.modal__header h4 {
  margin: 0;
  font-size: 30px;
}
.modal__header button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
.modal__content {
  font-size: 14px;
}
.modal__footer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.form-control {
  margin-bottom: 10px;
}
.form-control__control {
  width: 100%;
  height: 55px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
}

footer {
  color: var(--color-black);
}
@media (max-width: 1040px) {
  footer {
    display: none;
  }
}
footer h2 {
  font-size: 73px;
  line-height: 76px;
  padding: 53px 28px;
  padding-left: 11px;
  margin: 0;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}
@media (max-width: 1199.98px) {
  footer h2 {
    font-size: 56px;
    line-height: 59px;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
}

body {
  padding-left: 10px;
  padding-right: 10px;
  /*background: url("../images/bg.jpg") center top no-repeat;*/
}
@media (max-width: 1070px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}

a:hover,
a:focus {
  text-decoration: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

/*# sourceMappingURL=styles.css.map */
