footer {
  color: var(--color-black);

  @media (max-width: 1040px) {
    display: none;
  }

  & h2 {
    font-size: 73px;
    line-height: 76px;
    padding: 53px 28px;
    padding-left: 11px;
    margin: 0;
    font-weight: 400;
    font-family: "Rubik", sans-serif;

    @media (max-width: 1199.98px) {
      font-size: 56px;
      line-height: 59px;
    }
  }
}
