.headers {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 15px;
  transform: translateY(-21px);

  &>* {
    text-align: center;
  }

  & h1 {
    font-size: 59px;
    line-height: 1;
    font-weight: 700;
    margin: 0;

    @media (max-width: 1399.98px) {
      font-size: 50px;
    }

    @media (max-width: 1199.98px) {
      font-size: 45px;
    }

    @media(max-width: 1040px) {
      font-size: 40px;
    }

  }

  & h2 {
    font-size: 45px;
    line-height: 1;
    font-weight: 300;
    margin: 0;
    transform: translateY(10px);

    @media (max-width: 1199.98px) {
      font-size: 40px;
    }

    @media(max-width: 1040px) {
      font-size: 30px;
    }

    @media(max-width: 460px) {
      font-size: 25px;
    }
  }
}